body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #000;
}

h1, h2, h3 {
    text-align: center;
}

section {
    background-color: #222;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
}

.project {
    background-color: #333;
    padding: 15px;
    border-radius: 5px;
}

.contact-info a {
    color: #00ccff;
}

.contact-info a:hover {
    color: #ffffff;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
